#!/bin/bash

export BASE_WORK_DIR="${HOME}/Documents/Work"
export LG_BASE_DIR="${BASE_WORK_DIR}/Workspace_LG"

#
# SQLPlus
#
# Installation instructions: https://manjaro.site/how-to-install-sqlplus-utility-on-ubuntu-18-04-and-ubuntu-18-10/
#
# Used by:
#   - ~/bin/gqlplus
#   - ~/bin/runora
#
export PATH="$PATH:/opt/oracle/instantclient"
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/oracle/instantclient"
export USE_GKE_GCLOUD_AUTH_PLUGIN=True

#
# JIRA
#
export JIRA_URL=https://lillegroup.atlassian.net
export JIRA_NAME=cristian.miranda@lillegroup.com
export JIRA_PREFIX=ESH-
export JIRA_RAPID_BOARD=true
export JIRA_DEFAULT_ACTION=new
