#!/bin/bash

BLUE='\e[34m'
GREEN='\e[92m'
RED='\033[0;31m'
RED_BG='\e[101m'
CYAN='\033[0;36m'
NC='\033[0m' # No Color

function esh() {
  echo "ESH - Using ${1} db.properties";
  sudo cp /opt/escribe/conf/db.properties.${1} /opt/escribe/conf/db.properties;
}

function devs() {
  echo "bart" "bogdan" "dawid" "ewolk" "jan" "luciano"
}
