[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/usr/local/postman/app/Postman %U
Icon=/usr/local/postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
