[Desktop Entry]
Version=1.0
Name=URL Handler
GenericName=Web Browser
Exec=/home/cmiranda/bin/url-handler %u
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
NoDisplay=true
