#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias le="EXA_ICON_SPACING=2 exa --long --header --icons --git -a -g"

# Shortcuts
alias dw="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias pc="cd ~/Pictures"
alias repo="cd ${BASE_WORK_DIR}"
alias g="git"

# Replacing vi & vim with nvim
alias vim="nvim"
alias vi="nvim"

# macOS
# alias resetdock="osascript -e 'quit application \"Dock\"'"
# alias resetaudio="sudo killall coreaudiod"

# Mediabox
alias mediabox="cd /data/ssd/mediabox/repo"

# ~/dotfiles
alias dot="cd ~/dotfiles"
alias dotsync="bash ~/dotfiles/scripts/sync.sh && resetzgen"
alias resetzgen="zgen reset && zgen update && source ~/.zshrc"
alias vbx="sudo /usr/lib/virtualbox/VirtualBoxVM --comment Linux Mint 19.3 --startvm 63e218f5-8cc4-4c09-8444-1e1fb0500332 --no-startvm-errormsgbox"

# Yabai
alias resetskhd="brew services restart skhd"
alias resetyabai="brew services restart yabai"
#alias resetyabai="launchctl kickstart -k \"gui/${UID}/homebrew.mxcl.yabai\""
alias yabaimode="/bin/bash ~/dotfiles/home/scripts/yabai-modes.sh $1"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# bat's plain output. Clipboard friendly
alias rat='bat --plain '

alias libgen='libgen-downloader'

alias scpc='sshc --rsync -avP'

alias t='tmux'
alias ta='tmux a'

# GitHub Copilot
# [[ -f /usr/bin/github-copilot-cli ]] && eval "$(github-copilot-cli alias -- "$0")"
