#!/usr/bin/env bash

export TERMINAL=terminator

# i3 SCALING properties
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5
export QT_AUTO_SCREEN_SCALE_FACTOR=1

export PATH=~/.local/bin:$PATH
export PATH=~/bin:$PATH

export EDITOR='vim';
export BROWSER=/usr/bin/firefox

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Places
export DOTFILES_HOME="${HOME}/dotfiles"
export BASE_WORK_DIR="${HOME}/Documents/Work"
export WORKSPACE_DIR="${BASE_WORK_DIR}/Workspace"

# Android SDK
if [[ "$OSTYPE" == "darwin"* ]]; then
	export ANDROID_HOME=$HOME/Library/Android/sdk
else
	export ANDROID_HOME=$HOME/Android/Sdk
fi
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

# Overriding debian dpkg pager
export DPKG_PAGER=cat

# Fixes “Inappropriate ioctl for device” error when using gpg on non-gui machines
export GPG_TTY=$(tty)

# Export path with ruby gems
# https://wiki.archlinux.org/title/ruby
#
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:$GEM_HOME/bin"

export CHROME_EXECUTABLE=/usr/bin/chromium

# Export path where pub packages live
export PATH="$PATH":"$HOME/.pub-cache/bin"

